* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 100px;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #4A4A4A;
}

.logo p {
    font-size: 12px;
    color: #9b9b9b;
}

.menu h4 {
    font-size: 14px;
    color: #4A4A4A;
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
    margin: 15px 0;
    cursor: pointer;
}

.menu ul li i {
    margin-right: 10px;
}

.menu ul li.active {
    background-color: #5A8DEE;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.menu ul li:hover {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}
